<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/spots">RMW</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/spots">Home</a>
        <a class="nav-link" href="/spots">Spots</a>
        <a class="nav-link" href="/spots/new">New Spot</a>
        <% if (currentUser) { %>
          
          <a class="nav-link" href="#">Welcome <%= currentUser.username %></a>
          <span class="navbar-text">Welcome <%= currentUser.username %></span>
            <form class="d-flex" action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Log Out" class="btn-small red" />
            </form>
          <% } else { %>
            <a class="nav-link" href="/users/new">Sign Up</a>
            <a class="nav-link" href="/sessions/new">Log In</a>
          <% } %>
      </div>
     
    </div>
  </div>
</nav>


