<% layout('layouts/boilerplate.ejs') %>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Album example</h1>
      <p class="lead text-body-secondary">
        Something short and leading about the collection below—its contents, the
        creator, etc. Make it short and sweet, but not too short so folks don’t
        simply skip over it entirely.
      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% for (let i = 0; i < spots.length; i++) { %>
      <div class="col">
        <div class="card shadow-sm h-100">
          <img class="card-img-top img-fit" src="<%= spots[i].img %>" />
          <div class="card-body">
            <h5 class="card-title"><%= spots[i].name %></h5>
            <p class="card-text"><%= spots[i].description %></p>
              <div class="text-end">
                <a href="/spots/<%= spots[i].id %>" class="btn btn-outline-primary">View Spot</a>
              </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>