<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RockyMountainWaterways</title>
</head>
<body>
    <div>
        <%for (let i = 0; i < spots.length; i++){%>
        <div>
            <%=spots[i].name%>
            <%=spots[i].image%>
        </div>
        <%}%>
    </div>
</body>
</html>