<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/spots" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="img">Image URL</label>
        <input type="text" name="img" id="img">
        <label for="location">Location</label>
        <input type="text" name="location" id="location">
        <label for="activities">Activities:</label>
        <input type="text" name="activities" id="activities">
        <label for="description">Description</label>
        <textarea name="description" name="description" id="description" cols="30" rows="10"></textarea>
        <label for="price">Price</label>
        <input type="number" name="price" id="price">
        <input type="submit" value="Add new spot">
    </form>
</body>
</html>